html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card {
    border: 1px solid black;
    height: 30rem;
    width:  20rem;
    position: relative;
}

.card-footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 9px;
    background: white;
}

progress {
    width: 100%;
    margin: 10px 0;
}